/* Base */
:root{
  --Orange: hsl(26, 100%, 55%);
  --Pale_orange: hsl(25, 100%, 94%);
  --Bold: 700;
  --normal: 400;
  --Light_grayish_blue: hsl(0, 6%, 77%);
  --redish_white: rgb(223, 167, 145);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: 'Kumbh Sans', sans-serif;
}

.container{
  width: 100%;
  /* margin: 10px auto; */
}
/* Base */




/* HTML Elements */
a{
  text-decoration: none;
  color: var(--Light_grayish_blue);
}

li{
  list-style: none;
}

nav{
  border-bottom: 0;
}

img{
  border-radius: 0;
  max-width: 100%;
}
/* HTML Elements */



/* Reusable Classes */
.product-div{
  width: 80%;
  margin: 20px auto;
}

.company-name{
  color: var(--Orange);
  font-size: .7rem;
  margin: 10px 0;
}

.season-offer{
  color: black;
  margin: 10px 0 25px 0;
}

.product-details{
  color: var(--Light_grayish_blue);
}

.price{
  font-size: 2rem;
}

.discount-percentage{
  background-color: var(--redish_white);
  padding: .4em;
  color: var(--Orange);
  font-weight: var(--Bold);
  border-radius: 5px;
  font-size: .9rem;
  margin-left: 20px;
  height: 50%;
}

.old-price{
  text-decoration: line-through;
  color: var(--Light_grayish_blue);
}

.btn{
  border-radius: 10px;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  border: 0;
}

.in-btn{
  margin: 0 10px;
  position: relative;
  top: 2px;
}
/* Reusable Classes */




/* Nav */
nav{
  display: flex;
  justify-content: space-between;
}

nav > div:first-child{
  display: flex;
  width: 55%;
  justify-content: space-around;
  align-items: center;
}

nav > div:last-child{
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.nav-list{
  display: none;
}

.avatar{
  width: 40px;
}

.hamburgerNav{
  width: 60%;
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: white;
  z-index: 99;
  display: none;
}

.hamburgerNav > div:first-child{
  padding: 20px;
}

.nav-list-ham{
  margin: 20px;
}

.nav-list-ham li{
  margin: 20px;
}

.nav-list-ham li a{
  color: black;
  font-weight: var(--Bold);
}
/* Nav */




/*Left Side Main*/
.img-panel div{
  display: none;
}

.img-panel{
  display: none;
}

#left-arrow{
  left: 15px;
}

#right-arrow{
  right: 15px;
}

#menu-btn{
  display: block;
}

.arrows{
  position: absolute;
  width: 50px;
  bottom: 50%;
  border-radius: 100%;
  border: 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Left Side Main*/




/*Right Side Main*/
.product-info-div{
  width: 90%;
  margin: 10px auto 0 auto;
}

.price-div{
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 30px auto;
}

.price-div > div:first-child{
  width: 50%;
  display: flex;
  align-items: center;
}

.price-div > div:last-child{
  width: 20%;
}

.cart-actions-div{
  display: block;
  margin: 20px auto;
  width: 90%;
}

.number-of-products-btn{
  background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  padding: .8em;
  align-items: center;
  width: 100%;
}

.number-of-products-btn > div{
  display: flex;
  align-items: center;
}

#add-to-cart{
  background-color: var(--Orange);
  font-size: 1rem;
  color: white;
  padding: .9em;
  font-weight: var(--Bold);
  width: 100%;
}
/*Right Side Main*/




/*Others*/
.page-cover{
  background-color: rgba(0, 0, 0, 0.736);
  width: 100%;
  height: 100vh;
  z-index: 90;
  top: 0;
  position: absolute;
  display: none;
}

.visible{
  display: block;
}

.disable-scroll{
  overflow: hidden;
}
/*Others*/



@media screen and (min-width: 1000px) {
  .hamburgerNav{
    display: none;
  }

  .page-cover{
    display: none;
  }

  .container{
    width: 80%;
    margin: 20px auto;
  }

  main{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  h1{
    font-size: 2.5rem;
  }

  p{
    font-size: 1rem;
  }

  /* Nav */
  nav{
    border-bottom: 2px solid var(--Light_grayish_blue);
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  nav > div:first-child{
    width: 70%;
    justify-content: space-between;
  }

  .avatar{
    width: 60px;
  }

  nav > div:last-child{
    width: 20%;
    justify-content: space-around;
  }

  .nav-list{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
  }

  #menu-btn{
    display: none;
  }
  /* Nav */


  /*Left Side Main*/

img{
  border-radius: 15px;
}

.left-side-main{
  width: 45%;
}

.img-panel{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.img-panel div{
  display: block;
  width: 20%;
}

.arrows{
  display: none;
}
/*Left Side Main*/

/*Right Side Main*/
.right-side-main{
  width: 45%;
  align-items: center;
}

.price-div{
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

.cart-actions-div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.number-of-products-btn{
  padding: .8em;
  width: 35%;
}

#add-to-cart{
  padding: .8em;
  width: 60%;
}
/*Right Side Main*/
}

@media screen and (min-width: 1245px) {
  .right-side-main{
    width: 40%;
  }

  h1{
    font-size: 3rem;
  }

  p{
    font-size: 1.2rem;
  }
}